<h3>Villes synchronisées :</h3>
<table border=1>
  <tr>
    <th>Code postal</th>
    <th>Nom</th>
  </tr>
  <% @cities.each do |record| %>
      <tr>
        <td><a href="/transactions?zip_code=<%= record.postal_code %>"><%= record.postal_code %></a></td>
        <td><a href="/transactions?zip_code=<%= record.postal_code %>"><%= record.name %></a></td>
      </tr>
  <% end %>
</table>
<br />

<h3>Nouvelle ville :</h3>
<%= form_with url: transactions_path, method: :get do |form| %>
    <%= form.label :zip_code, "Code postal" %>
    <%= form.text_field :zip_code %>
    <%= submit_tag 'Synchroniser' %>
<% end %>